*.[oa]
*~
*.so
*.bak
*.pyc
*-orig
*-sav
foo*
goo*
Makefile
regions.pc
conf.h
config.status
config.log
config.cache
snr.fits
regcnts
regdisp
cimtest
.DS_Store
!wcs/Makefile
!em/Makefile
a.out.dSYM/
tmp/
notes/
